*{
    margin: 0;
    padding: 0;
}
body{
  background-image: url(../Images/background-image-3.avif);
}

/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  z-index: 2;
  position: relative;
  border-bottom: 1px solid black;
}
.navbar-brand-logp {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}
.nav-left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.company-name {
  font-size: 30px;
  font-weight: 600;
  color: rgb(7, 43, 7);
}
.nav-ul-bigscreen {
  display: flex;
  gap: 15px;
  color: black;
}
.nav-li {
  list-style: none;
}
.header-links {
  color: black;
  background-color: #ffff;
  text-decoration: none;
  font-size: larger;
  padding: 5px 10px;
  border-radius: 5px;
}
/* Active class */
.active {
  color: white;
  background-color: red;
}
.header-links:hover {
  background-color: red;
  color: white;
}
.para {
  font-size: 1em;
  font-weight: 600;
  color: black;
}
.container-btn:hover {
  background-color: red;
  color: #ffff;
}
.dropdown {
  list-style: none;
}
.nav-li-dropdown {
  margin-bottom: 10px;
  list-style: none;
}
@media (max-width: 700px) {
  .nav-ul-bigscreen {
    display: none;
  }
}
@media (min-width: 700px) {
  .dropdown {
    display: none;
  }
}


/* hero section  */
.contact-main-container{
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: 20px;
}
.form-heading{
    text-align: center;
    margin-bottom: 20px;
}
.hero-section{
    box-sizing: border-box;
    background-color: rgb(181, 179, 179);
    border: none;
    border-radius: 4px;
    margin: 40px auto;
    width: 400px;
    padding: 20px;
}
.name-container, .date-of-birth, .e-mail, .contact-number, .address-container{
    margin-bottom: 15px;
    font-size: 20px;
}
.input-box, .email-input{
    padding: 5px;
    width: 290px;
    border-radius: 4px;
    border: none;
}
.dob-input{
    padding: 5px;
    border-radius: 4px;
    border: none;
    width: 230px;
}
.contact-number-input{
    padding: 5px;
    border-radius: 4px;
    border: none;
    width: 240px;
}
.address-container-input{
 padding: 5px;
    border-radius: 4px;
    border: none;
    width: 270px;   
}
.form-btn{
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: rgb(20, 94, 212);
    color: #ffff;
    width: 100%;
}
.form-btn:hover{
    background-color: rgb(14, 70, 160);
}


/* footer-section  */
.footer {
  background-color: #1a1a1a;
  margin-top: 20px;
  padding: 20px;
}
.upper-footer-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
.footer-image-logo {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
}
.footer-heading {
  color: white;
}
.footer-links {
  text-decoration: none;
  color: rgb(94, 94, 94);
}
.social-links {
  width: 60px;
  border-radius: 50%;
  margin: 5px;
}
.footer-links:hover {
  color: rgb(133, 133, 133);
}
.upper-footer-section-three-first,
.upper-footer-section-five-first {
  margin-bottom: 5px;
}
.bottom-footer-section-para {
  color: white;
  padding: 20px;
  text-align: center;
}