* {
  margin: 0;
  padding: 0;
}

/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  z-index: 2;
  position: relative;
  border-bottom: 1px solid black;
}
.navbar-brand-logp {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50px;
}
.nav-left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.company-name {
  font-size: 30px;
  font-weight: 600;
  color: rgb(7, 43, 7);
}
.nav-ul-bigscreen {
  display: flex;
  gap: 15px;
  color: black;
}
.nav-li {
  list-style: none;
}
.header-links {
  color: black;
  background-color: #ffff;
  text-decoration: none;
  font-size: larger;
  padding: 5px 10px;
  border-radius: 5px;
}
/* Active class */
.active {
  color: white;
  background-color: red;
}
.header-links:hover {
  background-color: red;
  color: white;
}
.para {
  font-size: 1em;
  font-weight: 600;
  color: black;
}
.container-btn:hover {
  background-color: red;
  color: #ffff;
}
.dropdown {
  list-style: none;
}
.nav-li-dropdown {
  margin-bottom: 10px;
  list-style: none;
}
@media (max-width: 700px) {
  .nav-ul-bigscreen {
    display: none;
  }
}
@media (min-width: 700px) {
  .dropdown {
    display: none;
  }
}

/* hero-section  */
.container {
  display: flex;
  gap: 10px;
  margin: 10px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
.menu-container {
  display: flex;
  text-align: start;
  gap: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
}
.menu-container-image {
  width: 380px;
  height: 180px;
  object-fit: cover;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.menu-container-image:hover {
  box-shadow: 0 0 50px gray;
}
.menu-container-para {
  display: block;
}

.menu-price-container {
  margin-top: 8px;
}
.old-price {
  text-decoration: line-through;
  color: gray;
}
.price {
  color: black;
  font-weight: 550;
}
.btn {
  background-color: rgb(193, 102, 23);
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  color: white;
  margin-top: 10px;
}
.btn:hover {
  background-color: rgb(99, 49, 6);
}
@media (min-width: 0px) and (max-width: 400px) {
  .menu-container {
    flex-direction: column;
    width: 100%;
  }

  .menu-container-content {
    margin: 10px;
  }
  .menu-btn {
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 800px) {
  .menu-container-para {
    display: none;
  }
}

/* footer-section  */
.footer {
  background-color: #1a1a1a;
  margin-top: 20px;
  padding: 20px;
}
.upper-footer-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
.footer-image-logo {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
}
.footer-heading {
  color: white;
}
.footer-links {
  text-decoration: none;
  color: rgb(94, 94, 94);
}
.social-links {
  width: 60px;
  border-radius: 50%;
  margin: 5px;
}
.footer-links:hover {
  color: rgb(133, 133, 133);
}
.upper-footer-section-three-first,
.upper-footer-section-five-first {
  margin-bottom: 5px;
}
.bottom-footer-section-para {
  color: white;
  padding: 20px;
  text-align: center;
}
